header{
    text-align: center;
    background-color: cadetblue;
}
#prod-container{
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
}
#prod-container div{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}